
@media (max-width: 1020px) {
    .logo{
        margin-top: 3%;
        width: 40%;
        height: 10%;
    }
    
    
}

@media (max-width: 900px) {
    .logo{
        margin-top: 3%;
        width: 40%;
        height: 10%;
    }
    .menu{
        position: fixed;
        bottom: -10px;
        left: 0;
        width: 100%;
        justify-content: center;
        background-color: white; 
        box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
    }
    
}

@media (max-width: 500px) {
    
    .logo{
        margin-top: 3%;
        width: 50%;
        height: 10%;
        z-index: 100;
        
    }
    .menu{
        display: none; 
        flex-direction: column;
        top: 1%;
        background-color: white; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        font-size: 3rem;
        align-items: center;
        margin: 5px;
    }

    .menu.show {
        display: flex; 
    }

    .hamburger {
        display: inline-block; 
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15%;
        z-index: 100;
    }

    .bar {
        width: 30px;
        height: 4px;
        background: #FF3E7E;
        margin: 5px 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}
